<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
    <style>

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }


        .footer {
            background-color: #f5f5f5;
        }
    </style>

</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="nav-link" href="/retaska/public/"><img src="/retaska/public/logo.jpg" class="rounded float", width="50" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/retaska/public">Hlavní stránka <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/retaska/public/produkty">Produkty</a>
            </li>
            <li>
                <p class="nav-link">777 888 999</p>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hledat</button>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="#">Košík</a>
        </form>

    </div>
    </div>

</nav>
</h5>


{% block body %}{% endblock %}
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
    <span class="text-muted">
<table>
    <td class="nav-item active">
        <p class="nav-link"><a class="nav-link" href="/retaska/public">Hlavní stránka <span class="sr-only">(current)</span></a>
        </p>
    </td>
    <td class="nav-item">
        <p class="nav-link"> <a class="nav-link" href="/retaska/public/produkty">Produkty</a></p>
    </td>
            <td class="nav-item">
                <p class="nav-link"> © 2019-2020 Retaška </p>
            </td>
            <td class="nav-item">
                <p class="nav-link">777 888 999</p>
            </td>
            <td class="nav-item">
                <p class="nav-link"><img src="/retaska/public/logo.jpg" class="rounded float", width="50" height="50">
                </p>
            </td>
</table>
    </span>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>